body {
  display: flex;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  background: url(./Assets/BackGroundImage1.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Game_Container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.Game_Space {
  margin: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.Buttons {
  margin: 30px;
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  color: bisque;
}
.Button_1 {
  width: 2in;
  margin: 30px;
  padding: 10px;
  border: 10px;
  border-style: double;
}
.Button_2{
  width: 2in;
  margin: 30px;
  padding: 10px;
  border: 10px;
  border-style: double;
}
Header {
  font-size: 20pt;
  margin-top: 200px;
  color: bisque;
}
.Button_1:hover {
  background-color: red;
}
.Button_2:hover {
  background-color: red;
}
.Image_Container {
  margin: 30px;
}
.Skull_img {
  height: 300px;
  width: 300px;
}
.ClassPage {
  color: bisque;
}
.How_To_Play_Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: bisque;
}
.Player_Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Character_Button {
  width: 2in;
  margin: 30px;
  border: 10px;
  border-style: double;
}
.Character_Button:hover {
  background-color: green;
}
.Start_Game:hover {
  background-color: green;
}
.Start_Game {
  width: 2in;
  margin: 30px;
  padding: 10px;
  border: 10px;
  border-style: double;
}
.Back_Button:hover {
  background-color: green;
}
.Back_Button {
  width: 2in;
  margin: 30px;
  padding: 10px;
  border: 10px;
  border-style: double;
}
.Class_Imgs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.Mage_Img {
  height: 200px;
  width: 200px;
}
.Rouge_Img {
  height: 200px;
  width: 200px;
}
.Knight_Img {
  height: 200px;
  width: 200px;
}
.Instructions_Container > ul {
  margin: 30px;
  padding: 10px;
  border: 10px;
  border-style: double;
}
.Instructions_Container > ul > li {
  color: bisque;
  font-size: larger;
  font-weight: 500;
  list-style: none;
}
.Action_Containers {
  color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Attack_Button > h2{
  width: 2in;
  margin: 30px;
  padding: 10px;
  border: 10px ;
  border-style: double;
}
.Defend_Button > h2{
  width: 2in;
  margin: 30px;
  padding: 10px;
  border: 10px;
  border-style: double;
}
.SpecialAttack_Button > h2{
  width: 2in;
  margin: 30px;
  padding: 10px;
  border: 10px;
  border-style: double;
}
.Game_Page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: bisque;
}
.Button_Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Player_Area{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 5in;
  width: 10in;
  margin: 30px;
  padding: 10px;
  border: 10px;
  border-style: double;

}
.Player_Stats{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Mob_Stats{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Stats {
  padding: 10px;
}